
body { 
	padding-top: 70px; 
}

figure {
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 10px;
}
figcaption {
	text-align: center;
	padding-top: 10px;
}

mark {
	background-color: #FF0;
}

canvas {
	border: 1px dotted black;
}

footer {
	height: 200px;
}

.pad { 
	height: 60px; 
}

.edittable {
	display: block;
	white-space: pre;
	font-family: monospace;
}

.drop-container {
	border: 2px solid #999;
	border-radius: 4px;
	width: 310px;
	height: 310px;
	float: left;
	margin: 10px;
	text-align: center;
}